*{
    margin: 0;
}
body{
    background-color: thistle;
}
.container{
    margin: 50px 100px;
    background-color: rgba(133, 104, 10, 0.5);
}
.navbar ul{
    height: 50px;
    display: flex;
    background-color: rgba(175, 51, 51, .7);
    padding: 10px;
    list-style-type: none;
    /* width: fit-; */
    text-align: center;
    color: snow;
}       
li{
    width: 100%;
    border: transparent rgb(172, 91, 91) 5px;
    margin: auto 80px;
    text-align: center;
    border-radius: 5px;
}
li:hover {
    width: 100%;
    background-color: transparent rgb(89, 80, 139) 5px;
    margin: auto 80px;
    text-align: center;
    border-radius: 5px;
}
.topRow{
    width: fit-content;
    height: 200px;
    border-radius: 5px;
}
.topRow img{
    width: 1703px;
}

/* MAIN BAR */
.main{
    display: flex;
}
.sideBar{
    flex: 20%;
    background-color: rgba(4, 133, 133, .7);
    height: 1230px ;
    border-radius: 5px;
    
}
.cardContainer {
    flex:80%;
    background-color: rgba(3, 136, 136, .7);
    height: 1230;
    border-radius:  10px;
}
.row{
    display: flex;
}

.col{
    flex: 25%;
    padding: 30px;
    background-color: rgba(133, 104, 10, 0.5);
}

/* ini Side Bar */

.cardProfile{
    text-align: center;
    /* margin-top: 200px; */
    height: 500px;
    background-color: rgba(4, 133, 133, .7);
}
.cardProfile:hover {
    text-align: center;
    /* margin-top: 200px; */
    height: 500px;
    background-color: rgb(4, 133, 133);
    transition-duration: 1s;
}
.namaProfil{
    padding-top: 50px;
    padding-bottom: 20px;
}



/*INI FOKUS CARD*/

.card{
    margin: auto;
    width: 200px;   
    height: 370px;
    background-color: rgba(224, 19, 19, 0.5);
    
}
.card:hover {
    margin: auto;
    width: 200px;   
    height: 370px;
    background-color: rgba(227, 241, 240, 0.9);
    transition-duration: 1s;
    
}
.namaBarang{
    padding-top: 10px;
}
.card h4{
    text-align: center;
}
.card#image img{
    width: 180px;
}
.gambar img{
    width:180px;
}
img.gambar1 {
    width: 12.5rem;
    background-size: cover;
    border-radius: 0 100px 0 100px;
}
.harga h3{
    text-align: center;
}
.quantity{
    text-align: center;
}

#quantity-text{
    text-align: justify;
    width: 20px;
}
.cardText{
    width: fit-content;
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: rgba(224, 19, 19, 0.5);
}
.cardText:hover {
    width: fit-content;
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 50px;
    background-color: rgba(227, 241, 240, 0.9);
    transition-duration: 1s;
    cursor: pointer;
}

.addBasket form{
    margin-top: 10px;
    text-align: center;
}
button{
    margin-left: 50px;
    cursor: pointer;
}

/*END CARD*/

/*Footer */
.footer{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
}

.identity{
    flex: 65%;
    margin: auto 200px;

}

.identity h2{
    margin-top: 10px;
    margin-left: 10px;
}

p1 {
    margin: 10px 122px;
    font-size: 16px;
    text-align: center;
}
p2 {
    margin: 10px 200px;
    font-size: 16px;
    text-align: center;

}
p3 {
    margin: 10px 175px 0;
    font-size: 16px;
}

.identity h4{
    margin-top: 10px;
    margin-left: 10px;
}

.checkoutID{
    background-color: wheat;
    flex: 35%;
}
.titleID{
    display:flex;
}

#titleIDName{
    flex: 25%;
    text-align: center;
}
#titleIDPrice{
    flex: 25%;
    text-align: center;
}

#itemsName {
    display:flex;
    border: solid #333333 3px;
}
#itemsName p{
    margin: 10px;
    text-align: center;
}
#itemName{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
#itemPrice{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
#itemQuantity{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
#itemTotal{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
.totalItems{
    display: flex;
}
.totalItems p{
    margin-top: 20px;
    margin-right: 20px;
    flex: 50%;
    text-align: right;
    font-size: 50px;
}

.checkoutButton{
    text-align: right;
    margin: 25px;
    cursor: pointer;
    padding: 5px;
}

