*{
    margin: 0;
}
body{
    background-color: thistle;
}
.container{
    margin: 50px 100px;
    background-color: chocolate;
}
.navbar ul{
    height: 50px;
    display: flex;
    background-color: grey;
    padding: 10px;
    list-style-type: none;
}       
li{
    width: 100%;
    border: solid white 1px;
    margin: auto 80px;
    text-align: center;
}
.topRow{
    width: fit-content;
    height: 200px;
}
.topRow img{
    width: 1703px;
}

/* MAIN BAR */
.main{
    display: flex;
}
.sideBar{
    flex: 20%;
    background-color: tomato;
    height: 1000px ;
}
.mainBar{
    flex:80%;
    background-color: teal;
    height: 1000px;
}
.row{
    display: flex;
}

.col{
    flex: 25%;
    padding: 30px;
    background-color: #333333;
}

/* ini Side Bar */

.cardProfile{
    text-align: center;
    /* margin-top: 200px; */
    height: 500px;
    background-color: teal;
}
.namaProfil{
    padding-top: 50px;
    padding-bottom: 20px;
}



/*INI FOKUS CARD*/

.card{
    margin: auto;
    width: 200px;   
    height: 350px;
    background-color: tomato;
    
}
.namaBarang{
    padding-top: 10px;
}
.namaBarang h4{
    text-align: center;
}
.gambar{
    margin: auto;
    width:180px;
}
.gambar img{
    width:180px;
}
.harga h3{
    text-align: center;
}
.quantity{
    text-align: center;
}

#quantity-text{
    text-align: justify;
    width: 20px;
}
.cardText{
    width: 180px;
    margin-top: 10px;
    margin: 10px auto;
    background-color: goldenrod;
}

.addBasket form{
    text-align: center;
}


/*END CARD*/