*{
    margin: 0;
}
body{
    background-color: thistle;
}
.container{
    margin: 50px 100px;
    background-color: chocolate;
}
.navbar ul{
    height: 50px;
    display: flex;
    background-color: grey;
    padding: 10px;
    list-style-type: none;
}       
li{
    width: 100%;
    border: solid white 1px;
    margin: auto 80px;
    text-align: center;
}
.topRow{
    width: fit-content;
    height: 200px;
}
.topRow img{
    width: 1703px;
}

/* MAIN BAR */
.main{
    display: flex;
}
.sideBar{
    flex: 20%;
    background-color: tomato;
    height: 1230px ;
}
.cardContainer {
    flex:80%;
    background-color: teal;
    height: 1230;
}
.row{
    display: flex;
}

.col{
    flex: 25%;
    padding: 30px;
    background-color: #333333;
}

/* ini Side Bar */

.cardProfile{
    text-align: center;
    /* margin-top: 200px; */
    height: 500px;
    background-color: teal;
}
.namaProfil{
    padding-top: 50px;
    padding-bottom: 20px;
}



/*INI FOKUS CARD*/

.card{
    margin: auto;
    width: 200px;   
    height: 370px;
    background-color: tomato;
    
}
.namaBarang{
    padding-top: 10px;
}
.card h4{
    text-align: center;
}
.card#image img{
    margin: auto;
    width: 180px;
}
.gambar img{
    width:180px;
}
.harga h3{
    text-align: center;
}
.quantity{
    text-align: center;
}

#quantity-text{
    text-align: justify;
    width: 20px;
}
.cardText{
    width: 180px;
    margin-top: 10px;
    margin: 10px auto;
    background-color: goldenrod;
}

.addBasket form{
    margin-top: 10px;
    text-align: center;
}

/*END CARD*/

/*Footer */
.footer{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
}

.identity{
    flex: 65%;
    margin: auto 200px;

}

.identity h2{
    margin-top: 10px;
    margin-left: 10px;
}

.identity p{
    margin: 10px 10px;
    font-size: 16px;
}

.identity h4{
    margin-top: 10px;
    margin-left: 10px;
}

.checkoutID{
    background-color: wheat;
    flex: 35%;
}
.titleID{
    display:flex;
}

#titleIDName{
    flex: 25%;
    text-align: center;
}
#titleIDPrice{
    flex: 25%;
    text-align: center;
}

#itemsName {
    display:flex;
    border: solid #333333 3px;
}
#itemsName p{
    margin: 10px;
    text-align: center;
}
#itemName{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
#itemPrice{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
#itemQuantity{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
#itemTotal{
    flex: 25%;
    text-align: left;
    padding-left: 15px;
}
.totalItems{
    display: flex;
}
.totalItems p{
    margin-top: 20px;
    margin-right: 20px;
    flex: 50%;
    text-align: right;
    font-size: 50px;
}

.checkoutButton{
    text-align: right;
    margin: 25px;
}

